/* FONTS */

@font-face {
  font-family: pixel;
  src: url(./fonts/slkscr.ttf);
}

@font-face {
  font-family: pixelBold;
  src: url(./fonts/slkscrb.ttf);
}

/* -------------------------------------------------- */



* {
  padding: 0;
  margin: 0;

  box-sizing: border-box ;
}

body {
  background-color: purple;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SELECTORS */

.options {
  display: flex;
}

.selector {
  padding: 10px;
  
  width: 750px;
  
  background-color: black;
  border: 10px groove black;
  
  display: flex;
  flex-wrap: wrap;
  
  gap: 10px;
}

.side {
  width: 120px;
}

/* BUTTONS */

.button {
  border: 2px groove grey;

  flex: 0 0 auto;
}

.side .button {
  width: 80px;
  height: 380px;
}

/* CLEAR & ERASER */

.clear, .eraser {
  writing-mode: vertical-rl;
  text-orientation: upright;

  font-family: pixel, monospace;
  font-size: 32px;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* COLOR SELECTORS */

.color {
  width: 80px;
  height: 80px;
}


.button:hover {
  border: 2px groove white;
}

.lateral {
  width: 170px;
  height: 80px;

  background-color: aqua;
}

.custom {
  width: 350px;
  height: 80px;

  background-color: red;
}

/* COLORS */

/* BASE COLORS*/

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.grey {
  background-color: grey;
}

.neutral {
  background-color: gold;
}

/* LIGHT COLORS */

.light.red {
  background-color: lightcoral;
}

.light.orange {
  background-color: lightsalmon;
}

.light.yellow {
  background-color: lightyellow;
}

.light.green {
  background-color: lightgreen;
}

.light.blue {
  background-color: lightblue;
}

.light.purple {
  background-color: pink;
}

.light.grey {
  background-color: lightgrey;
}

.white {
  background-color: white;
}

/* DARK COLORS */

.dark.red {
  background-color: darkred;
}

.dark.orange {
  background-color: darkorange;
}

.dark.yellow {
  background-color: darkkhaki;
}

.dark.green {
  background-color: darkgreen;
}

.dark.blue {
  background-color: darkblue;
}

.dark.purple {
  background-color: darkorchid;
}

.dark.grey {
  background-color: darkgrey;
}

.black {
  background-color: black;
}

/* SPECIAL COLORS */

.opacity {
  background-image: linear-gradient(to bottom right, black, white);
}

.rainbow {
  background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple);
}

/* -------------------------------------------------- */



/* CONTAINER */

.container {
  margin: 50px 0 20px;
  
  box-sizing: content-box;
  width: 640px;
  height: 640px;

  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
}

/* -------------------------------------------------- */



/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: pixelBold;
  font-size: 72px;
  text-align: center;
}

header a {
  font-family: pixel;
  font-size: 24px;
  text-align: center;
  color: grey;
}

header a:hover {
  color: white;
}

/* -------------------------------------------------- */


